<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MVVM&amp;RAC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4A2C9DC1EDFDB81006AA965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A2C9F81EDFDB81006AA965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A2CA031EDFDB82006AA965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
